/* LAST RULE */
/* p{
    color: red;
}

p{
  color: green;
}

p{
    color: blue;
} */

/* SPECIFICITY */
/* *{
    color: red;
}

p{
    color: green;
}

p#intro{
    color: blue;
} */

/* IMPORTANT */
/* *{
    color: red;
}

p{
    color: green !important;
}

p{
    color: blue;
} */

/* INHERETANCE */
/* div{
    /* color:red;
}

p{
    font-family: cursive;
    color: inherit;
} */ 

body {
    font-family: Arial, Verdana, sans-serif;
    color: hsl(110, 88%, 49%);
    padding: 10px;}
    .page {
    border: 8px solid hsl(2, 91%, 46%);
    background-color: blue;
    padding: inherit;}
